.Top {
    width: 100%;
    height: var(--navbar-height);
    overflow-y: hidden;
    position: fixed;
    top: calc(var(--navbar-height) * -1);
    left: 0;
    margin: 0;
    padding: 0;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #000;
    box-shadow: 0px 0px 10px #000;
    transition: all 0.3s ease;
}
.Top._open {
    background: transparent;
    box-shadow: none;
}

.Top._scroll {
    top: 0;
}

._inner {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    max-width: 1000px;
    padding: 10px 20px;
    margin: auto;
}

.Logo_Top {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    margin-right: 20px;
}

@media (max-width: 768px) {
    .Logo_Top {
        margin-right: 0;
    }
}

.Link_Top {
    width: auto;
}

.Link_button {
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 4px;
    transition: all 0.3s ease;
    background: transparent;
    border: 0;
    cursor: pointer;
    outline: none;
}

.Link_button .__line {
    width: 20px;
    height: 1px;
    background-color: #fff;
    margin: 3px 0;
    transition: all 0.3s ease;
}


.Top._open .Link_button .__line:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
}
.Top._open .Link_button .__line:nth-child(2) {
    opacity: 0;
}
.Top._open .Link_button .__line:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
}

.Link_Top {
    display: block;
}
.Top._open {
    display: block;
}

.Link_list {
    width: auto;
}
.Link_list .__inner {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    list-style: none;
}

.Link_list .__link {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    cursor: pointer;
    font-style: italic;
    font-size: 16px;
    text-decoration: none;
}

.Link_list .__link span {
    position: relative;
    display: inline-block;
    width: fit-content;
}

.Link_list .__link span::after {
    content: "";
    position: absolute;
    bottom: -2px;
    left: -5px;
    display: block;
    width: calc(100% + 10px);
    height: 1px;
    transform: scaleX(0);
    background-color: #fff;
    transition: transform 0.1s ease;
    transform-origin: left center;
}
.Link_list .__link:hover span::after {
    transform: scaleX(1);
}
.Link_list .__link:visited {
    color: #fff;
}

.Link_list .__link._active span::after {
    transform: scaleX(1);
}

.Link_list .__item:not(:first-child) {
    margin-left: 20px;
}


@media (max-width: 768px) {
    .Link_button {
        display: flex;
    }
    .Link_list {
        width: 100vw;
        height: 100dvh;
        position: fixed;
        top: 0;
        left: 0;
        z-index: -100;
        margin: 0;
        padding: 0;
        transform: translateX(100%);
        background-color: rgba(0, 0, 0, 0.2);
        backdrop-filter: blur(20px);
        transition: all 0.3s ease;
    }
    .Link_list .__inner {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        flex-wrap: nowrap;
    }
    .Link_list .__item {
        width: 100%;
        height: auto;
        text-align: center;
    }
    .Link_list .__link {
        display: block;
        width: 100%;
        height: auto;
        padding: 10px 0;
        font-size: 20px;
        transition: all 0.3s ease;
    }
    .Link_list .__item:not(:first-child) {
        margin-left: 0;
    }

    .Top._open .Link_list {
        transform: translateX(0px);
    }
}