.Top {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10000;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    transition: opacity 0.2s ease;
    opacity: 1;
}

.Top._hidden {
    opacity: 0;
    pointer-events: none;
}

._vid_inner {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
._vid_inner video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    user-select: none;
}